<div class="flex flex-col flex-auto page" @slideInLeft [formGroup]="form">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="flex flex-col flex-initial bg-card shadow rounded-2xl ">
        <div
            class="text-2xl flex flex-row flex-initial gap-x-2 items-center font-bold tracking-tight highlight-text-color p-4 pl-6">
            <mat-icon class="cursor-pointer highlight-text-color" (click)="goBack()"
                [svgIcon]="translationService.getDirection() =='ltr' ? 'mat_outline:arrow_back' : 'mat_outline:arrow_forward' ">
            </mat-icon>
            <span *ngIf="!id">{{'Create New Engagement' | translate}}</span>
            <span *ngIf="id">{{'Edit Engagement' | translate}}</span>

        </div>
        <hr class="border-b m-0 border-color">
        <div class="flex sm:flex-row flex-col p-4 gap-4">
            <div class="flex flex-col gap-y-4" style="flex: 0 0 70%;">
                <div class="flex flex-col bg-card shadow p-4">
                    <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                        {{'Add Engagement Details' | translate}}
                    </div>
                    <hr class="border-b m-0 border-color">
                    <div class="flex flex-col flex-auto">
                        <div class="flex flex-col sm:flex-row flex-auto gap-x-4 gap-y-4 pt-4">
                            <div class="flex-auto grid grid-cols-3 gap-4">
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1 ">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            {{'Engagements  Description' | translate}}
                                            <span class="required-field">*</span>
                                        </mat-label>
                                        <input matInput formControlName="name">
                                        <mat-error *ngIf="form.get('name').hasError('required')">
                                            {{'Engagements  Description is required' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Won't fix -->
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1 ">
                                    <mat-form-field>
                                        <mat-label>{{'Engagements' | translate}}</mat-label>
                                        <mat-select>
                                            <mat-option [value]="1">
                                                test1
                                            </mat-option>
                                            <mat-option [value]="2">
                                                test2
                                            </mat-option>
                                            <mat-option [value]="3">
                                                test3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- Re-opened -->
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field>
                                        <mat-label>{{'Start Date' | translate}}</mat-label>
                                        <input matInput [matDatepicker]="picker">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field>
                                        <mat-label>{{'End Date' | translate}}</mat-label>
                                        <input matInput [matDatepicker]="picker1">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field class="example-full-width">
                                        <mat-label (click)="$event.preventDefault()">{{'Candidate' | translate}}

                                        </mat-label>
                                        <input matInput formControlName="address">
                                        <div>
                                            <mat-icon class="cursor-pointer" svgIcon="mat_outline:add"></mat-icon>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field appearance="fill">
                                        <mat-label>{{'Start Time' | translate}}</mat-label>

                                        <!-- The timepicker input -->
                                        <input matTimepicker #t="matTimepicker" [ngModelOptions]="{standalone: true}" #time="ngModel" [strict]="false"
                                            id="timepicker-example" mode="24h" [ngModel]="defaultValue"
                                            placeholder="Please select time..." name="time">

                                        <!-- An icon for the timepicker input that will open the timepicker dialog when clicked -->
                                        <mat-icon matSuffix (click)="t.showDialog()">access_time</mat-icon>

                                        <!-- Error that will be shown when the input date is invalid -->

                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field appearance="fill">
                                        <mat-label>{{'End Time' | translate}}</mat-label>

                                        <!-- The timepicker input -->
                                        <input matTimepicker [ngModelOptions]="{standalone: true}" #timePicker="matTimepicker" #timer="ngModel"
                                            [strict]="false" id="timepicker-example1" mode="24h"
                                            [ngModel]="defaultValue" placeholder="Please select time..." name="timer">

                                        <!-- An icon for the timepicker input that will open the timepicker dialog when clicked -->
                                        <mat-icon matSuffix (click)="timePicker.showDialog()">access_time</mat-icon>

                                        <!-- Error that will be shown when the input date is invalid -->

                                    </mat-form-field>
                                </div>
                                <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                    <mat-form-field>
                                        <mat-label>{{'Security Level' | translate}}</mat-label>
                                        <mat-select>
                                            <mat-option [value]="1">
                                                Highly Secure
                                            </mat-option>
                                            
                                            <mat-option [value]="3">
                                                Less Secure
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-3 flex flex-col px-1">
                                    <mat-form-field class="example-full-width">
                                        <mat-label  >{{'Description' | translate}}
                                        </mat-label>
                                        <textarea rows="8" matInput formControlName="address"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto bg-card shadow p-4" *ngIf="afterViewInit">
                <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                    {{'Documents' | translate}}
                </div>
                <div class="flex flex-col flex-auto gap-1">
                    <app-documents [id]="id" [documents]="getDocument()" [type]="'account'"></app-documents>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-2 flex-initial p-4 justify-end">
            <button
                class="mat-focus-indicator border-btn  rounded-lg min-h-0 h-9 fuse-mat-button-large mat-flat-button mat-button-base"
                mat-flat-button>
                {{'Save as Draft' | translate}}
            </button>
            <button
                class="mat-focus-indicator  rounded-lg min-h-0 h-9 fuse-mat-button-large primary-bg-color mat-flat-button mat-button-base"
                mat-flat-button (click)="save()">
                {{'Save' | translate}}
            </button>
        </div>
    </div>
</div>
