<div [formGroup]="form" class="flex flex-col flex-auto overflow-hidden page" @slideInLeft>
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="flex flex-col flex-initial bg-card shadow rounded-t-2xl overflow-hidden mb-2">
        <div
            class="relative flex flex-col md:flex-row flex-0 md:items-center gap-1 md:justify-start py-2 px-2 md:px-4 border-b-2-color">
            <div class="flex flex-row mt-2 md:mt-0 flex-auto gap-x-3 justify-start">
                <label class="highlight-text-color mat-title mb-0">{{'Manage Staff' | translate}}</label>
            </div>
            <div class="flex flex-row mt-2 md:mt-0 flex-initial gap-x-3 justify-end">
                <button class="fuse-mat-button highlight-text-color status-btn"
                    [ngClass]="activeStatus == tabStatus.import ? 'active-btn rounded-bl-xl rounded-br-xl' : '' "
                    (click)="toggleStatus(tabStatus.import)" mat-flat-button>
                    {{'Import' | translate}}
                </button>
                <button class="fuse-mat-button highlight-text-color status-btn"
                    [ngClass]="activeStatus ==tabStatus.export ? 'active-btn rounded-bl-xl rounded-br-xl' : '' "
                    (click)="toggleStatus(tabStatus.export)" mat-flat-button>
                    {{'Export' | translate}}
                </button>
            </div>
            <div class="flex flex-shrink-0 md:mt-0 mt-2 justify-end items-center flex-initial sm:mt-0 sm:ml-4">
                <app-common-add-button (addBtnClick)="add()"></app-common-add-button>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto bg-card shadow rounded-t-sm overflow-hidden">
        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-initial overflow-hidden">
                <div class="overflow-x-auto sm:overflow-y-auto "
                    [ngClass]="contracts?.length ? 'table-height' : 'h-50' " cdkScrollable>
                    <table class="w-full min-w-320 table-fixed bg-transparent" mat-table matSort
                        [multiTemplateDataRows]="true" [dataSource]="contracts" [trackBy]="trackByFn">
                        <ng-container matColumnDef="slno">
                            <th class="primary-bg-color dark:bg-black dark:bg-opacity-5 border-left-radius"
                                mat-header-cell *matHeaderCellDef>
                                <div class="flex flex-col flex-auto">
                                    <div>
                                        {{'S.No' | translate}}
                                    </div>
                                </div>
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let contract">
                                {{contract?.reference}}
                            </td>
                        </ng-container>
                        <!-- Name -->
                        <ng-container matColumnDef="user_name">
                            <th class="primary-bg-color dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                <div class="flex flex-col flex-auto">
                                    <div>
                                        {{'User Name' | translate}}
                                    </div>
                                    <!-- <div>
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input matInput formControlName="name">
                                        </mat-form-field>
                                    </div> -->
                                </div>
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let contract">
                                {{contract?.customer?.name}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th class="primary-bg-color dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                <div class="flex flex-col flex-auto">
                                    <div>
                                        {{'Email' | translate}}
                                    </div>
                                    <!-- <div>
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input matInput formControlName="contact_no">
                                        </mat-form-field>
                                    </div> -->
                                </div>
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let contract">
                                {{contract?.customer?.contact_no}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="contact_no">
                            <th class="primary-bg-color dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                <div class="flex flex-col flex-auto">
                                    <div>
                                        {{'Contact No' | translate}}
                                    </div>
                                    <!-- <div>
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input matInput formControlName="contact_no">
                                        </mat-form-field>
                                    </div> -->
                                </div>
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let contract">
                                {{contract?.customer?.contact_no}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="contract_no">
                            <th class="primary-bg-color dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                <div class="flex flex-col flex-auto">
                                    <div>
                                        {{'Contract No' | translate}}
                                    </div>
                                    <!-- <div>
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input matInput formControlName="contact_no">
                                        </mat-form-field>
                                    </div> -->
                                </div>
                            </th>
                            <td class="pr-8 truncate" mat-cell *matCellDef="let contract">
                                {{contract?.customer?.contact_no}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="role">
                            <th class="primary-bg-color dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef disableClear>
                                {{'Role' | translate}}
                            </th>
                            <td class="pr-4" mat-cell *matCellDef="let contract">
                                {{contract?.total}}
                            </td>
                        </ng-container>


                        <!-- Active -->
                        <ng-container matColumnDef="action">
                            <th class="primary-bg-color dark:bg-black dark:bg-opacity-5 border-right-radius"
                                style="text-align: end !important;" mat-header-cell *matHeaderCellDef disableClear>
                                {{'Actions' | translate}}
                            </th>
                            <td class="pr-4 p-0 action-header" mat-cell *matCellDef="let contract">
                                <div class="flex flex-row flex-auto overflow-hidden action-body">
                                    <div class="flex flex-row action-btn-container" fxFlex="0 0 auto">
                                        <button (click)="view(contract?.id)"
                                            class="action-btn px-4 flex flex-row flex-auto items-center primary-bg-color"
                                            [ngClass]="translationService.getDirection()=='ltr'? 'rounded-l-md' : 'rounded-r-md'"
                                            style="width: auto !important;" mat-icon-button fxLayoutGap="1em">
                                            <mat-icon class="m-1 text-white" svgIcon="mat_outline:remove_red_eye">
                                            </mat-icon>
                                            <span class="text-white">{{'View' | translate}}</span>
                                        </button>
                                        <button class="action-btn secondary-bg-color " mat-icon-button
                                            [ngClass]="translationService.getDirection()=='ltr'? 'rounded-r-md' : 'rounded-l-md'"
                                            [matMenuTriggerFor]="userActions">
                                            <mat-icon svgIcon="mat_outline:keyboard_arrow_down" class="text-white">
                                            </mat-icon>
                                        </button>
                                    </div>
                                    <mat-menu [xPosition]="'before'" #userActions="matMenu">
                                        <button (click)="edit(contract?.id)" mat-menu-item>
                                            <div class="flex flex-row flex-initial gap-x-2 items-center">
                                                <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                                                <strong>{{'Edit' | translate}}</strong>
                                            </div>
                                        </button>
                                        <!-- <mat-divider class="my-2"></mat-divider>
                                        <button (click)="sendNotification(contract?.customer?.id)" mat-menu-item>
                                            <div class="flex flex-row flex-initial gap-x-2 items-center">
                                                <mat-icon svgIcon="mat_outline:notifications"></mat-icon>
                                                <strong>{{'Send Reminder' | translate}}</strong>
                                            </div>
                                        </button> -->
                                    </mat-menu>
                                </div>
                            </td>
                        </ng-container>
                        <tr class="shadow" mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell border-b-0">{{'No data found' | translate}}</td>
                        </tr>
                        <tr class="h-18 hover:bg-hover" mat-row
                            *matRowDef="let product; columns: getDisplayedColumns();">
                        </tr>
                    </table>
                </div>

                <mat-paginator *ngIf="contracts?.length"
                    class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    (page)="handlePageEvent($event)" [length]="page?.length" [pageSize]="page?.pageSize"
                    [showFirstLastButtons]="true" [pageSizeOptions]="page?.pageSizeOptions"
                    [pageIndex]="page?.pageIndex">
                </mat-paginator>
                <ng-template #noProducts>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                        {{'Nothing to Display' | translate}}</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
