<div class="flex flex-col flex-auto page" @slideInLeft [formGroup]="form">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="flex flex-col flex-initial bg-card shadow rounded-2xl ">
        <div
            class="text-2xl flex flex-row flex-initial gap-x-2 items-center font-bold tracking-tight highlight-text-color p-4 pl-6">
            <mat-icon class="cursor-pointer highlight-text-color" (click)="goBack()"
                [svgIcon]="translationService.getDirection() =='ltr' ? 'mat_outline:arrow_back' : 'mat_outline:arrow_forward' ">
            </mat-icon>
            <span *ngIf="!id">{{'Create New User' | translate}}</span>
            <span *ngIf="id">{{'Edit User' | translate}}</span>

        </div>
        <hr class="border-b m-0 border-color">
        <div class="flex sm:flex-row flex-col p-4 gap-4 flex-auto">
            <div class="flex flex-col gap-y-4 flex-auto md:items-center">
                <div class="flex flex-col bg-card shadow p-4  container-width  flex-auto">
                    <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                        {{'Basic Info' | translate}}
                    </div>
                    <hr class="border-b m-0 border-color">
                    <div class="flex flex-col flex-auto">
                        <div class="flex flex-col sm:flex-row flex-auto gap-x-4 gap-y-4 pt-4">
                            <div class="flex-auto grid grid-cols-3 gap-4">
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1 ">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            {{'First Name' | translate}}
                                            <!-- <span class="required-field">*</span> -->
                                        </mat-label>
                                        <input matInput formControlName="name">
                                        <!-- <mat-error *ngIf="form.get('name').hasError('required')">
                                            {{'Engagements  Description is required' | translate}}
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <!-- Won't fix -->
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1 ">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            {{'Last Name' | translate}}
                                            <!-- <span class="required-field">*</span> -->
                                        </mat-label>
                                        <input matInput formControlName="name">
                                        <!-- <mat-error *ngIf="form.get('name').hasError('required')">
                                            {{'Engagements  Description is required' | translate}}
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <!-- Re-opened -->
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            {{'Email' | translate}}
                                            <!-- <span class="required-field">*</span> -->
                                        </mat-label>
                                        <input matInput formControlName="name">
                                        <!-- <mat-error *ngIf="form.get('name').hasError('required')">
                                            {{'Engagements  Description is required' | translate}}
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            {{'Contact Number' | translate}}
                                            <!-- <span class="required-field">*</span> -->
                                        </mat-label>
                                        <input matInput formControlName="name">
                                        <!-- <mat-error *ngIf="form.get('name').hasError('required')">
                                            {{'Engagements  Description is required' | translate}}
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            {{'Residence ID' | translate}}
                                            <!-- <span class="required-field">*</span> -->
                                        </mat-label>
                                        <input matInput formControlName="name">
                                        <!-- <mat-error *ngIf="form.get('name').hasError('required')">
                                            {{'Engagements  Description is required' | translate}}
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field>
                                        <mat-label>{{'Assign to Engagements' | translate}}</mat-label>
                                        <mat-select>
                                            <mat-option [value]="1">
                                                test1
                                            </mat-option>
                                            <mat-option [value]="2">
                                                test2
                                            </mat-option>
                                            <mat-option [value]="3">
                                                test3
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            {{'City' | translate}}
                                            <!-- <span class="required-field">*</span> -->
                                        </mat-label>
                                        <input matInput formControlName="name">
                                        <!-- <mat-error *ngIf="form.get('name').hasError('required')">
                                            {{'Engagements  Description is required' | translate}}
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            {{'Region' | translate}}
                                            <!-- <span class="required-field">*</span> -->
                                        </mat-label>
                                        <input matInput formControlName="name">
                                        <!-- <mat-error *ngIf="form.get('name').hasError('required')">
                                            {{'Engagements  Description is required' | translate}}
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="col-span-4 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            {{'Postal Code ' | translate}}
                                            <!-- <span class="required-field">*</span> -->
                                        </mat-label>
                                        <input matInput formControlName="name">
                                        <!-- <mat-error *ngIf="form.get('name').hasError('required')">
                                            {{'Engagements  Description is required' | translate}}
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2 flex-initial justify-end">
                        <button
                            class="mat-focus-indicator  rounded-lg min-h-0 h-9 fuse-mat-button-large primary-bg-color mat-flat-button mat-button-base"
                            mat-flat-button (click)="save()">
                            {{'Submit' | translate}}
                        </button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
